<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Tasarımı</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .navbar {
            background-color: white;
            color: black !important;
        }

        .navbar-brand {
            color: black !important;
        }

        .navbar-nav .nav-link {
            color: black !important;
        }
        a:hover
        {
            border-bottom: 2px solid aqua; 
        }
       
      
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="#">Ana Sayfa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a href="/account/manage" class="nav-link">@User.Identity.Name</a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Logout" class="nav-link"><i class="fas fa-sign-in-alt"> </i>>Logout</a>
                    </li>

                }
                else
                {
                    
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link"><i class="fas fa-sign-in-alt"></i> Giriş Yap</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link"><i class="fas fa-user-plus"></i> Kayıt Ol</a>
                </li>
                }
            </ul>
        </div>
    </nav>

    <!-- Bootstrap JS ve jQuery bağımlılıkları -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
