
@{
    string message=ViewBag.Message; 
}

@if (message=="success")
{
    <div class="alert alert-success">
        <h3>Şifre yenileme bağlantınız hesabına mail olarak gönderildi lütfen kontrol edin</h3>
    </div>
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" align="center">Forgot Password </h5>
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label">Email:</label>
                            <div class="col-sm-9">
                                <input type="email" name="Email" class="form-control" id="email" placeholder="Enter your email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary">Submit</button>
                  
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
